button{
    margin-top: 20px;
    align-items: center;
    background-color: #333333;
    justify-items: center;
}
.link-nopage {
    color: #fff;
    text-decoration: none;
}
.link-nopage:hover{
    color: #605d5d;
    text-decoration: none;
}